@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

.container {
  display: flex;
}

.box1,
.box2,
.box3 {
  width: 180px;
  height: 70px;
  margin: 20px;
}

.box1 {
  background-color: #4a5568;
  border: 3px solid #000;
  box-sizing: border-box;
}

.inner {
  background-color: #343f50;
  width: 171px;
  height: 61px;
  margin: 3px 0 0 3px;
  overflow: hidden;
}

.box2 {
  background: rgb(132, 77, 246);
  background: linear-gradient(
    90deg,
    rgba(132, 77, 246, 1) 0%,
    rgba(89, 94, 244, 1) 75%,
    rgba(52, 108, 241, 1) 100%
  );
  background-clip: padding-box;
  border: 4px dashed #e6d6ff;
  border-radius: 100px;
}

.box3 {
  border: 2px solid #e8e8e8;
  border-radius: 0 90px 90px 90px;
  box-shadow: 10px 10px 10px #e8e8e8;
}

.content {
  font-family: "KBO-Dia-Gothic_bold";
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}
