body {
  background-color: beige;
}

.tiger {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  background-color: aqua;
}

.ear,
.face {
  background-color: #fcb138;
}

/* ear */
.ear {
  width: 100px;
  height: 70px;
  border-radius: 80px 80px 0 0;
  box-shadow: inset 0 30px 0 #341d0d;
}

.ear.left {
  rotate: -49deg;
  position: absolute;
  top: 26.5%;
  left: 16%;
}

.ear.right {
  rotate: 49deg;
  position: absolute;
  top: 26.5%;
  right: 16%;
}

/* face */
.face {
  width: 350px;
  height: 300px;
  border: 7px solid #341d0d;
  border-radius: 350px 350px 250px 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.face .eye {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50px 50px 30px 30px;
  position: relative;
}

/* 질문!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.eye.left {
  position: absolute;
  top: 45%;
  left: 20%;
}

.face .eye.right {
  position: absolute;
  top: 45%;
  right: 20%;
}

.sparkle-midium {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 40%;
}

.sparkle-small {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 20%;
}

/* mouth */
.mouth-wrap {
  /* background-color: rebeccapurple; */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.nose {
  width: 70px;
  height: 40px;
  margin: auto;
  background-color: #341d0d;
  border-radius: 100px 100px 20px 20px;
}

.mouth-wrap .mouth {
  width: fit-content;
  margin: auto;
}

.mouth .left {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 0 0 30px 30px;
  border-right: 10px solid #341d0d;
  border-bottom: 10px solid #341d0d;
  /* background-color: aqua; */
}

.mouth .right {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 0 0 30px 30px;
  border-left: 10px solid #341d0d;
  border-bottom: 10px solid #341d0d;
  /* background-color: aqua; */
}

/* stripe */
.stripe {
  width: 80px;
  height: 80px;
  position: relative;
}

.stripe div {
  width: 80px;
  height: 15px;
  border-radius: 30px 0 0 30px;
  background-color: #341d0d;
  position: absolute;
}

.stripe div:nth-child(1) {
  top: 10%;
}

.stripe div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.stripe div:nth-child(3) {
  bottom: 10%;
}

.face .stripe.head {
  rotate: -90deg;
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
}

.stripe.left div,
.stripe.right div {
  width: 60px;
}

.face .stripe.left {
  rotate: 165deg;
  position: absolute;
  top: 55%;
  left: -5%;
}

.face .stripe.right {
  position: absolute;
  rotate: 15deg;
  top: 55%;
  right: -5%;
}
/* border: #1b0d02 */
